[v-cloak] {
    display: none;
}

.fullwidthbanner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullwidthbanner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    background-color: rgba(255, 255, 255, 0); /* 透明背景 */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    text-align: center;
}

.banner-btn {
    background-color: transparent;
        color: #394E26;
        border: none;
        outline: none; /* 移除按下後的淺藍色框 */
        box-shadow: none; /* 移除陰影 */
}

.banner-btn:hover {
    font-size: calc(1.25rem + 3px); /* 增加字體大小 */
    color: #10150a;
    background-color: transparent;
}

.banner-btn:focus,
.banner-btn:active {
    background-color: transparent;
    color: #10150a;
    outline: none; /* 移除按下後的淺藍色框 */
}
.banner-btn:focus:not(:focus-visible),
.banner-btn:active:focus-visible {
    outline: none;
    box-shadow: none; 
}

.custom-navbar {
    background-color: rgba(220, 218, 203, 0.9); /* 加入半透明效果 */
}

.navbar-nav .nav-item {
    margin: 0 1vw; /* 设置导航项之间的间隔，你可以调整这个值 */
    font-size: 1.4vw ;
}

.navbar-nav .nav-link {
    transition: color 0.3s, font-weight 0.3s, font-size 0.3s;
    font-size: 1.4vw ;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active {
    color: #394E26 !important;
    /* font-weight: bold; */
    /* font-size: calc(2rem + 1px); */
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    /* transform: translateY(-100%); */
    background-color: rgba(220, 218, 203, 0.8); /* 设置半透明背景 */
}

.nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* 取消默认的 margin */
}

.dropdown-menu {
    display: none;
}

.dropdown-menu .dropdown-item {
    font-size: 1.25vw; /* 調整下拉選單文字大小 */
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgba(255, 255, 255, 0.3) !important; /* 设置白色半透明背景 */
    color: #394E26 !important;
    font-size: calc(1.25vw + 1px);
}
.page11url  {
    font-size: 1vw; /* 增加字體大小 */
}

.page11url:hover  {
    font-size: calc(1.05vw); /* 增加字體大小 */
    color: #394E26;
    background-color: transparent;
}



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1055;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}

.p12-container {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-caption h5 {
    text-align: right;
    font-size: 2vw;
}

.p13-container {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    width: 60%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page13url  {
    font-size: 1vw; /* 增加字體大小 */
    text-decoration: none;
}

.page13url:hover  {
    font-size: calc(1.05vw); /* 增加字體大小 */
    color: #394E26;
    background-color: transparent;
    
}

.page13url a {
    color: black; /* 繼承父元素的顏色 */
    text-decoration: none; /* 移除下劃線 */
    
}

.page13url a:hover {
    color: #394E26; /* 設定為你想要的顏色 */
}


.p14-container {
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.p21-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-logo {
    max-height: 100%;
    height: auto;
    width: auto;
}